In [75]:

print("pd is here")

pd is here

          name gender
0         John    boy
1      William    boy
2        James    boy
3      Charles    boy
4       George    boy
...        ...    ...
6777    Laylah   girl
6778  Carleigh   girl
6779    Kenley   girl
6780    Sloane   girl
6781   Elianna   girl

[6782 rows x 2 columns]
   name gender    id       G1        G2  G3
0   NaN   name  math  physics  designe  NaN

In [240]:
#importing libraries and a set of names (only single name)
import pandas as pd
import csv
import random
names = pd.read_csv('name_data.csv')

data= []

#creating random students data (triple name+ ID + three random grades)

for r in range (0,2000):
    list = []
    
    #creating first name
    
    x =  random.randint(0,6700)
    list.append(x)
    name1 = names.iloc[x,0]
    g1 = names.iloc[x,1]
    n = 0
    
    #creating the second name

    while n ==0:
        x = random.randint(0,6700)
        g2 =names.iloc[x,1]
        name2 = names.iloc[x,0]
        
        if g2== "boy":
            if x not in list:
                list.append(x)
                break
                
    #creating the last name
    while n==0:
        x = random.randint(0,6700)
        g3 = names.iloc[x,1]
        name3 = names.iloc[x,0]
      
        if g3== "boy":
            if x not in list:
                break
                    
    name = name1 + " " + name2 + " " + name3
    
    #creating the ID with format 2021-----
    
    l = 5-len(str(r+1))
    id = "2021" + "0"*l + str(r+1)
    
    #creating random values for each student
    
    r2 = str(random.randint(0,100))
    r3 = str(random.randint(0,100))
    r4 = str(random.randint(0,100))
    
    #appending on the data list
    
    data.append([name,g1,id,r2,r3,r4])
   
#conerting the data list into a dataframe

df = pd.DataFrame(data, columns=['Name', 'gender','id','G1','g2','g3'])

print(df)

# You can convert the dataframe to a CSV file by activating the following command
#df.to_csv("out.csv")

                          Name gender         id  G1  g2  g3
0         Melina Sherwood Stan   girl  202100001   4  95  86
1           Archer Thurlow Ken    boy  202100002   3  91  32
2          Dotty Betty Branden   girl  202100003  24  26  70
3     Hortensia Squire Terence   girl  202100004  66  35  63
4        Maliyah Demarcus Oren   girl  202100005  27  66  27
...                        ...    ...        ...  ..  ..  ..
1995           Mervin Robt Rob    boy  202101996  14  82  42
1996       Zaria Whit Timmothy   girl  202101997  43  65  34
1997      Heath Pryor Terrence    boy  202101998  38  82  64
1998   Sawyer Rodrick Kathleen    boy  202101999  26  26   3
1999          Lexie Kasey Marc    boy  202102000  26  57  83

[2000 rows x 6 columns]

In [235]:
df.to_csv("out.csv")